<table class="table table-hover">
	<thead>
		<tr>
			<th>Header</th>
			<th>Info</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Name user:</td>
			<td><%= @user.username %></td>
		</tr>
		<tr>
			<td>Email user:</td>
			<td><%= @user.email%></td>
		</tr>
	</tbody> 
</table>